.additional-products__wrapper {
  outline: 3px solid #ee083acc;
  outline-offset: -3px;
}

.additional-products__title {
  font-size: 24px;
  line-height: 24px;
  .font-style-title();
}

.additional-products__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 67px;
  }

  .additional-products__wrapper {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .additional-products__title {
    padding: 55px 0 55px 0;
  }

  .additional-gift__wrapper {
    outline: 3px solid #0723f3cc;
    outline-offset: -3px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 86px;
  }
}
