.advantages__wrapper {
  outline: 3px solid #ec9006cc;
  outline-offset: -3px;
  padding: 25px 20px 40px 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  .font-style-title();
  margin: 0;
}

.advantages__text {
  font-size: 14px;
  line-height: 18px;
  .font-style-title();
  .font-style();
}
