.button {
  background-color: @button-bg-color;
  color: @background-color-main-white;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  line-height: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 280px;
  height: 40px;
  text-decoration: none;
}

.button:hover {
  background-color: @button-bg-color-dark;
}

.button:active {
  background-color: @button-bg-color-dark;
  //color: @background-color-main-white 0.3;
}

@media (min-width: @tablet-width) {
  width: 248px;
}
