.card {
  padding: 13px 0 20px 0;
  height: 98px;
  margin: 0 20px;
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @text-color-special-black;
  margin: 0 auto;
}

.card__description,
.card__price {
  font-size: 14px;
  line-height: 14px;
  .font-style-title();
  .font-style();
}

.card__button-link {
  margin: 0 auto;
  padding: 10px 94px;
}

.card__position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 13px 0 15px 0;
}


@media (min-width: @tablet-width) {
  .card {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 26px 38px 28px 38px;
    margin: 0;
    height: auto;
  }

  .card__button-link {
    width: 632px;
  }

  .card__title {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .card__position {
    margin: 0 0 25px 0;
  }

  .card__description,
  .card__price {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    height: 72px;
  }

  .card__title {
    margin: 25px 0 0 0;
  }

  .card__position {
    margin: 25px 0 0 25px;
  }

  .card__button-link {
    width: 244px;
    padding: 7px 26px;
    margin: 15px 0 15px 55px;
  }

  .card__price {
    margin: 0;
  }
}
