.comment__wrapper {
  outline: 3px solid #de5b04cc;
  outline-offset: -3px;
  padding: 20px;
}

.comment__title {
  .font-style-title();
  font-size: 24px;
  line-height: 26px;
}

.area__value {
  .form-field-size();
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  min-width: 250px;
}
