.contacts__wrapper {
  outline: 3px solid #2c1a70cc;
  outline-offset: -3px;
  padding: 20px 20px;
  background-color: @background-color-light-grey;
}

.contacts__invite {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  margin: 0;
}

.contacts__address {
  .font-style();
  .font-style-title();
  color: #444444;
  font-size: 14px;
  line-height: 20px;
}

.contacts__wrapper--main {
  background-color: #ffffff;
}

.contacts__item {
  list-style: none;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .contacts__map-image {
    display: none;
  }

  .contacts__map {
    background: url("../img/map-tablet.jpg") no-repeat;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__map {
    background: url("../img/map-desctop.jpg") no-repeat;
  }

  .contacts__detail {
    width: 565px;
    height: 198px;
    z-index: 1;
  }
}
