.contacts-data__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contacts-data__title {
  .font-style-title();
  font-size: 24px;
  line-height: 26px;
  background: @background-color-main-white;
  margin: 0;
  width: 187px;
  padding: 26px 14px 35px 20px;
}

.contacts-data__title-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 35%;
    height: 2px;
    width: 100%;
    background-color: @button-bg-color;
    z-index: -1;
  }
}

.mail__label,
.mail__value,
.phone__label,
.phone__value {
  .form-field-size();
  color: @text-color-special;
  font-family: inherit;
  text-transform: uppercase;
}

.contacts-data__mail,
.contacts-data__phone {
  border: none;
  margin: 0 20px;
  padding: 0;
}

.contacts-data__mail {
  margin-bottom: 14px;
}

.mail__value {
  width: 205px;
  padding: 14px 0 16px 15px;
}

.mail__label {
  width: 50px;
}

.phone__value {
  width: 188px;
  padding: 14px 0 16px 16px;
}

.phone__label {
  width: 68px;
}

@media (min-width: @tablet-width) {
  .contacts-data__title-wrapper {
    width: auto;
    margin: 0 0 0 -30px;

    &::before {
      top: 60%;
    }
  }

  .contacts-data__title {
    font-size: 36px;
    line-height: 36px;
    margin: 75px 0 0 70px;
    width: 512px;
    padding: 0 42px 0 30px;
  }

  .contacts-data__wrapper {
    padding: 0;
    margin: 76px 70px 65px 70px;
  }

  .contacts-data__mail,
  .contacts-data__phone {
    margin: 0;
  }

  .contacts-data__mail {
    margin-bottom: 20px;
  }

  .phone__label,
  .phone__value,
  .mail__label,
  .mail__value {
    font-size: 20px;
    line-height: 30px;
  }

  .mail__label {
    width: 63px;
  }

  .mail__value {
    width: 529px;
    margin-left: 10px;
    padding: 10px 0 10px 21px;
  }

  .phone__label {
    width: 85px;
  }

  .phone__value {
    width: 508px;
    margin-left: 10px;
    padding: 10px 0 10px 21px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-data__title-wrapper {
    width: auto;
    margin: 0;
  }

  .contacts-data__title {
    margin: 69px 0 76px 70px;
    padding: 0 40px 0 40px;
  }

  .contacts-data__wrapper {
    padding: 0;
    margin: 0 110px 67px 110px;
    flex-direction: row;
    justify-content: space-between;
  }


  .mail__value {
    width: 485px;
    margin-left: 10px;
    padding: 10px 0 10px 19px;
  }

  .phone__value {
    width: 472px;
    margin-left: 10px;
    padding: 10px 0 10px 18px;
  }

  .contacts-data__mail {
    margin-bottom: 0;
  }
}
