.copyright__link {
  .font-style();
  .font-style-title();
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
