.data__wrapper {
  outline: 3px solid #09eca0cc;
  outline-offset: -3px;
  padding: 20px;
}

.data__action {
  outline: 3px solid #2008f2cc;
  outline-offset: -3px;
}

.data__name {
  outline: 3px solid #e70909cc;
  outline-offset: -3px;
}
