.gift__text {
  .font-style();
  .font-style-title();
  font-size: 16px;
  line-height: 20px;
  color: @background-color-main-white;
  padding: 0 59px 43px 59px;
  margin: 0 auto;
  text-align: center;
}

.gift__icon {
  margin: 59px 101px 44px 101px;
  padding: 0;
}

.gift__wrapper {
  padding: 0;
  // outline: 3px solid #ec870ccc;
  // outline-offset: -3px;
  background: url("../img/cat_in_bag_main.png") no-repeat;
  margin: 35px 20px;
  height: 290px;
}

@media (min-width: @tablet-width) {
  .gift__wrapper {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    //overflow: hidden;
    background: url("../img/cat-in-bag-tablet.jpg") no-repeat;
    height: 200px;
  }
}

@media (min-width: @desktop-width) {
  .gift__wrapper {
    outline-offset: -3px;
    background: url("../img/cat_in_bag_main.png") no-repeat;
    margin: 10px;
    width: 245px;
    height: 289px;
    flex-direction: column;
    justify-content: center;
  }
}
