.gift__text {
  .font-style();
  .font-style-title();
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 0 61px 0 58px;
}

.gift__icon {
  padding: 0 70px 0 58px;
}

.gift__wrapper {
  padding: 20px;
  outline: 3px solid #ec870ccc;
  outline-offset: -3px;
  background: url("../img/cat_in_bag_main.png") no-repeat;
  margin: 10px;
}
