.gift__text {
  .font-style();
  .font-style-title();
  font-size: 16px;
  line-height: 20px;
  color: @background-color-main-white;
  padding: 0 59px 43px 59px;
  margin: 0 auto;
  text-align: center;
}

.gift__icon {
  margin: 59px 101px 44px 101px;
  padding: 0;
}

.gift__wrapper {
  padding: 0;
  background: url("../img/cat_in_bag_main.png") no-repeat;
  margin: 35px 20px;
  height: 290px;
}

@media (min-width: @tablet-width) {
  .gift__wrapper {
    margin: 70px 30px 76px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url("../img/cat-in-bag-tablet.jpg") no-repeat;
    height: 200px;
  }

  .gift__text {
    padding: 0;
    width: 161px;
    height: 60px;
    margin: 71px 124px 69px 0;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .gift__wrapper {
    outline-offset: -3px;
    background: url("../img/cat-in-bag-desctop.jpg") no-repeat;
    margin: 0;
    width: 245px;
    height: 289px;
    flex-direction: column;
    justify-content: center;
  }

  .gift__icon {
    margin: 56px 81px 0 84px;
    padding: 0;
  }


  .gift__text {
    padding: 0;
    width: 161px;
    height: 60px;
    margin: 46px 43px 42px 41px;
    text-align: center;
  }
}
