.instance__wrapper {
  background-color: @background-color-dark-grey;
  padding: 100px 0 40px 0;
  margin-top: -105px;
}

.instance__wrapper-title {
  padding: 25px 0 45px 20px;
}

.instance__title {
  font-size: 36px;
  line-height: 40px;
  .font-style-title();
  margin: 0;
}

.instance__text {
  font-size: 14px;
  line-height: 18px;
  .font-style-title();
  .font-style();
  padding: 0 20px;
  margin: 0;
}

.instance__slogan {
  padding: 13px 0 40px 0;
  display: flex;

  &--position {
    flex-direction: row;
    justify-content: center;
  }
}

.instance__expense,
.instance__total {
  font-size: 14px;
  line-height: 20px;
}

.instance__expense {
  margin-right: 5px;
}

.instance__number {
  font-size: 24px;
  line-height: 24px;
  .font-style-title();
  text-align: center;
  margin-top: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.instance__description {
  font-size: 12px;
  line-height: 12px;
  .font-style();
  .font-style-title();
  text-align: center;
  margin: 0;
  width: 87px;
  background-color: @background-color-dark-grey;
}

.instance__description--weight {
  width: 77px;
}

.instance__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
}

.instance__item {
  border: 1px solid @border-special-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  height: 56px;
}

.instance__label {
  font-size: 16px;
  line-height: 20px;
  margin-right: 118px;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }
}

.instance__image {
  padding: 0 20px;
}

.image-cat {
  display: none;
}

.instance__wrapper-state {
  position: relative;
}

.instance__controls {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  margin: 10px 60px 0 60px;
}

@media (min-width: @tablet-width) {
  .instance__wrapper {
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    background-color: @background-color-main-white;
    margin-top: -100px;
  }

  .instance__wrapper-title {
    padding: 45px 0 62px 30px;
  }

  .instance__title {
    font-size: 60px;
    line-height: 60px;
  }

  .instance__text {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0 30px;
  }

  .instance__list {
    width: 366px;
    padding: 0;
  }

  .instance__item {
    width: 162px;
    height: 72px;
  }

  .instance__number {
    font-size: 30px;
    line-height: 37px;
  }

  .instance__description {
    font-size: 14px;
    line-height: 14px;
    width: 142px;
    background-color: @background-color-main-white;
  }

  .instance__description--weight {
    width: 114px;
  }

  .instance__wrapper-list-slogan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 54px 30px 230px 30px;
  }

  .instance__slogan {
    &--position {
      flex-direction: column;
      align-items: flex-end;
      justify-content: start;
    }
  }

  .instance__total,
  .instance__expense {
    font-size: 20px;
  }

  .instance__expense {
    margin-bottom: 5px;
  }

  .instance__wrapper-image {
    background: @background-color-dark-grey;
    min-height: 462px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .instance__image {
    padding: 0;
    width: 592px;
    min-height: 511px;
    margin-top: -170px;
    margin-left: 90px;
  }

  .instance__controls {
    margin: 0;
    padding: 7px 97px 7px 101px;
    margin-top: -40px;
  }

  .instance__label {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
    margin-right: 472px;

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .instance {
    width: 100vw;
    background-color: @background-color-light-grey;
    margin-left: 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 462px;
      background-color: @background-color-light-grey;
      left: -100%;
      z-index: -1;
      top: 31%;
    }
  }

  .instance__wrapper {
    width: 1440px;
    background-color: @background-color-light-grey;
    flex-direction: row;
    margin: 0;
    padding: 0;
    min-height: 462px;
  }

  .instance__wrapper-title {
    background-color: @background-color-main-white;
    padding: 69px 0 76px 110px;
  }

  .instance__wrapper-common {
    flex-basis: 50%;
    margin: 70px 0 70px 110px;
  }

  .instance__text {
    margin: 0;
    width: 425px;
  }

  .instance__wrapper-list-slogan {
    flex-direction: column;
    padding: 0;
    margin: 70px 0 0 0;
  }

  .instance__description {
    background-color: @background-color-light-grey;
  }

  .instance__slogan {
    margin-top: 55px;
    padding: 0;
    display: block;

    &--position {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  .instance__expense {
    margin-right: 62px;
    margin-bottom: 0;
  }

  .instance__wrapper-image {
    background: none;
    flex-basis: 54%;
  }

  .instance__image {
    margin-left: -7px;
    margin-top: -180px;
  }

  .instance__controls {
    margin-top: -38px;
    margin-left: 5px;
    padding: 0;
  }
}
