.item {
  padding: 27px 20px 20px 20px;
  outline: 3px solid #ec0ccea6;
  outline-offset: -3px;
}

.item__link .item__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.item__parameter {
  font-size: 12px;
  line-height: 16px;
  .font-style-title();
  .font-style();
}

.item__value {
  font-size: 12px;
  line-height: 16px;
  .font-style-title();
  .font-style();
}

.item__slogan {
  font-size: 12px;
  line-height: 16px;
  .font-style-title();
  .font-style();
}

.show-more {
  background-color: @background-color-light-grey;
  color: #444444;
}
