.item__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @text-color-special-black;
  width: 76px;
  height: 41px;
  margin: 20px 0 15px 0;
  text-align: left;
}

.item__link {
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
}

.item__wrapper {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0;
}

.feature {
  margin: 0 auto;
}

.feature__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature__parameter,
.feature__value {
  font-size: 12px;
  line-height: 16px;
  .font-style-title();
  .font-style();
}

.item__button-link {
  padding: 10px 94px;
  margin: 25px 20px;
}

.item__wrapper-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 158px;
  margin: 25px 0;
}

.item__link-plus {
  padding-top: 0;
}

.item__list-link {
  text-decoration: none;
}

.item__title--more {
  width: auto;
  height: 20px;
  margin: 0;
  text-align: center;
  padding: 20px 57px 8px 57px;
}

.item__slogan {
  font-size: 12px;
  line-height: 16px;
  .font-style-title();
  .font-style();
  margin: 0;
}

.show-more {
  background-color: @background-color-light-grey;
  color: @text-color-special;
  margin: 0;
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .item__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 37px 33px 37px;
  }

  .item__button-link {
    width: 248px;
    margin: 0 38px 39px 38px;
  }

  .item__link {
    padding-top: 0;
  }

  .item__list {
    width: 250px;
  }

  .item__title {
    font-size: 20px;
    line-height: 24px;
    width: auto;
    height: 47px;
    text-align: center;
    padding: 0 20px;
    margin: 0 35px 0 42px;
  }

  .feature__parameter,
  .feature__value {
    font-size: 16px;
    line-height: 16px;
  }

  .feature__wrapper {
    margin-bottom: 16px;
  }

  .item__wrapper-more {
    border: 2px solid @background-color-light-grey;
    height: 429px;
    margin: 0 auto;
  }

  .item__link-plus {
    padding-top: 0;
    margin: 52px 62px 50px 62px;
  }

  .item__title--more {
    line-height: 22px;
    width: auto;
    height: auto;
    margin: 0 90px 23px 90px;
    text-align: center;
    padding: 0;
  }

  .item__slogan {
    font-size: 16px;
    line-height: 16px;
    margin: 0 78px 87px 78px;
    text-align: center;
  }

  .show-more {
    padding: 0;
    padding-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .item__button-link {
    width: 168px;
    height: 40px;
  }

  .item__title {
    font-size: 20px;
    line-height: 21px;
    width: 145px;
    height: 46px;
  }

  .item__slogan {
    font-size: 16px;
    line-height: 18px;
  }
}
