.main-header {
  outline: 3px solid #f01d1d;
  outline-offset: -3px;
  display: flex;
  flex-direction: column;
}

.main-header__logo-wrapper {
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}


@media (min-width: @tablet-width) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-header__logo-wrapper {
    height: 78px; // общая высота margin 42 + 36
    align-items: center;
    margin-right: 20px;
    padding: 0;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  // .main-header {
  //   width: 100%;
  //   justify-content: space-around;
  // }
}
