.main-header {
  display: flex;
  width: 320px;
  margin: 0 auto;
  position: relative;
  height: 66px;
}

.main-header__border {
  border-bottom: 1px solid @border-color-third;
}

.main-header__logo-wrapper {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 14px 20px;
  box-sizing: border-box;
}

.main-header__logo-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-text {
  margin-left: 60px;
}

.main-header__toggle {
  position: absolute;
  top: -3px;
  right: 0;
  z-index: 2;
  display: block;
  width: 64px;
  height: 65px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.main-header__toggle--closed::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;
  width: 24px;
  height: 1.5px;
  background-color: @text-color-main-black;
  box-shadow: 0 8px 0 0 @text-color-main-black, 0 16px 0 0 @text-color-main-black;
}

.main-header__toggle--opened {
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 20px;
    width: 25px;
    height: 2px;
    background-color: @text-color-main-black;
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-header__toggle--nojs {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header {
    width: 708px;
    height: 50px;
    padding: 25px 30px 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-header__border {
    border-bottom: none;
  }

  .main-header__logo-wrapper {
    height: 50px;
    align-items: center;
    margin-right: 20px;
    padding: 0;
    width: 174px;
  }

  .main-header__logo-text {
    display: none;
  }

  .main-header__logo-image {
    width: 174px;
    height: 52px;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: 1221px;
    height: 60px;
    padding: 54px 110px 0 110px;
  }

  .main-header__logo-image {
    width: 202px;
    height: 59px;
    padding-left: 20px;
  }


  .main-header__logo-text {
    display: none;
  }
}
