.name__label,
.name__value {
  .form-field-size();
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
}

.name__value {
  min-width: 229px;
  height: 45px;
}

@media (min-width: @tablet-width) {
  .name__value {
    min-width: 567px;
    height: 52px;
  }

  .name__label,
  .name__value {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .name__value {
    min-width: 506px;
  }
}
