.products-list__wrapper {
  padding: 27px 20px 20px 20px;
  outline: 3px solid #05f08aa6;
  outline-offset: -3px;
}

.products-list__title {
  .font-style-title();
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 22px 41px 0;
}

