.program__wrapper {
  padding: 27px 20px 20px 20px;
  outline: 3px solid #ee083acc;
  outline-offset: -3px;
  color: #ffffff;
  background-image: linear-gradient(rgb(104, 183, 56, 0.85), rgb(104, 183, 56, 0.85)), url("../../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  .font-style-title();
}

.program__slogan {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.program__image {
  margin: 0 auto;
  display: block;
}

.program__button {
  font-size: 14px;
  line-height: 18px;
  display: block;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 280px;
  min-height: 40px;
  padding: 7px 44px 7px 44px;
  color: #ffffff;
}
