.social__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  width: 132px;
  margin-top: 20px;
  margin-left: 30px;
}

@media (min-width: @tablet-width) {
  margin: 0 auto;
}
