.weight__label {
  .form-field-size();
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
}

.weight__value {
  .form-field-size();
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
}
