body {
  width: 320px;
  margin: 0 auto;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  body {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1440px;
  }
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.font-style {
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}
.font-style-title {
  font-weight: 400;
  text-transform: none;
}
.form-field-size {
  font-size: 16px;
  line-height: 18px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.age__label,
.age__value {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
}
.ad-form__title {
  font-weight: 400;
  text-transform: none;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 37px 20px;
}
.ad-form__info-wrapper {
  outline: 3px solid #da36d2cc;
  outline-offset: -3px;
  padding: 0 20px;
}
.additional-products__wrapper {
  padding: 27px 20px 20px 20px;
  outline: 3px solid #ee083acc;
  outline-offset: -3px;
}
.additional-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}
.advantages__wrapper {
  outline: 3px solid #ec9006cc;
  outline-offset: -3px;
  padding: 25px 20px 40px 20px;
}
.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-transform: none;
  margin: 0;
}
.advantages__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}
.advantages__item {
  list-style: none;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    display: flex;
    flex-direction: column;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages__item {
    padding: 0;
    width: 354px;
  }
  .advantages__text {
    margin-bottom: 100px;
    padding-top: 30px;
    font-size: 16px;
    line-height: 24px;
  }
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }
  .advantages__item--one {
    background: url("../img/one.png") no-repeat top;
    position: relative;
  }
  .advantages__item--two {
    background: url("../img/two.png") no-repeat top;
    position: relative;
  }
  .advantages__item--three {
    background: url("../img/three.png") no-repeat top;
    position: relative;
  }
  .advantages__item--four {
    background: url("../img/four.png") no-repeat top;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    justify-content: space-between;
  }
  .advantages__item {
    width: 250px;
  }
}
.button {
  background-color: #68b738;
  color: #ffffff;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  line-height: 20px;
}
.card {
  padding: 20px;
  outline: 3px solid #11f06ea6;
  outline-offset: -3px;
}
.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}
.card__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}
.card__price {
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}
.catalog__wrapper {
  padding: 25px 20px 20px 20px;
  outline: 3px solid #f0e403fa;
  outline-offset: -3px;
}
.catalog__item {
  background-color: #F2F2F2;
  margin-bottom: 20px;
  outline: 3px solid #3bda36cc;
  outline-offset: -3px;
  padding: 20px;
}
.catalog__title {
  font-size: 24px;
  line-height: 37px;
}
.catalog__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}
.catalog__link {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
.catalog__list {
  list-style: none;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    padding: 0 30px;
    margin: 0 auto;
  }
  .catalog__list {
    display: flex;
    flex-direction: column;
  }
  .catalog__item {
    padding: 77px 62px 57px 52px;
  }
  .catalog__title {
    font-size: 36px;
    line-height: 36px;
    font-style: normal;
  }
  .catalog__text {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }
  .catalog__link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .catalog__wrapper {
    padding: 0 110px;
    margin: 0 auto;
  }
  .catalog__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .catalog__item {
    padding: 47px 51px 59px 52px;
    box-sizing: border-box;
  }
}
.comment__wrapper {
  outline: 3px solid #de5b04cc;
  outline-offset: -3px;
  padding: 20px;
}
.comment__title {
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
}
.area__value {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  min-width: 250px;
}
.contacts-data__wrapper {
  outline: 3px solid #e8e40bcc;
  outline-offset: -3px;
  padding: 10px 20px 20px 10px;
}
.contacts-data__title {
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
}
.mail__label,
.mail__value {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
}
.phone__label,
.phone__value {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
}
.contacts__wrapper {
  outline: 3px solid #2c1a70cc;
  outline-offset: -3px;
  padding: 20px 20px;
  background-color: #F2F2F2;
}
.contacts__invite {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  margin: 0;
}
.contacts__address {
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
}
.contacts__wrapper--main {
  background-color: #ffffff;
}
.contacts__item {
  list-style: none;
}
.contacts__list {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .contacts__map-image {
    display: none;
  }
  .contacts__map {
    background: url("../img/map-tablet.jpg") no-repeat;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .contacts__map {
    background: url("../img/map-desctop.jpg") no-repeat;
  }
  .contacts__detail {
    width: 565px;
    height: 198px;
    z-index: 1;
  }
}
.copyright__link {
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.control__label {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
}
.data__wrapper {
  outline: 3px solid #09eca0cc;
  outline-offset: -3px;
  padding: 20px;
}
.data__action {
  outline: 3px solid #2008f2cc;
  outline-offset: -3px;
}
.data__name {
  outline: 3px solid #e70909cc;
  outline-offset: -3px;
}
.gift__text {
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-style: normal;
  color: #444444;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 0 61px 0 58px;
}
.gift__icon {
  padding: 0 70px 0 58px;
}
.gift__wrapper {
  padding: 20px;
  outline: 3px solid #ec870ccc;
  outline-offset: -3px;
  background: url("../img/cat_in_bag_main.png") no-repeat;
  margin: 10px;
}
.info {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 39px;
}
.instance__wrapper {
  outline: 3px solid #3b08f4cc;
  outline-offset: -3px;
  background-color: #EAEAEA;
  padding: 25px 20px 40px 20px;
}
.instance__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-transform: none;
}
.instance__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}
.instance__slogan {
  font-size: 14px;
  line-height: 20px;
}
.instance__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}
.instance__description {
  font-size: 12px;
  line-height: 100%;
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-style: normal;
  color: #444444;
  font-weight: 400;
  text-transform: none;
}
.instance__list {
  display: flex;
  justify-content: space-between;
}
.instance__item {
  border: 1px solid #CDCDCD;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instance__state-before,
.instance__state-after {
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .instance__wrapper {
    padding: 25px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  .instance__title {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
  }
  .instance__text {
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .instance__wrapper-list-slogan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .instance__wrapper-image {
    background: #EAEAEA;
  }
  .instance__state-before,
  .instance__state-after {
    font-size: 20px;
    line-height: 30px;
  }
  .instance__number {
    font-size: 30px;
    line-height: 37px;
  }
  .instance__description {
    font-size: 14px;
    line-height: 14px;
  }
  .instance__slogan {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .instance__wrapper {
    background-color: #F2F2F2;
  }
  .instance__wrapper-image {
    background: none;
  }
}
.item {
  padding: 27px 20px 20px 20px;
  outline: 3px solid #ec0ccea6;
  outline-offset: -3px;
}
.item__link .item__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
.item__parameter {
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}
.item__value {
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}
.item__slogan {
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}
.show-more {
  background-color: #F2F2F2;
  color: #444444;
}
.main-container {
  outline: 3px solid #a38fe9cc;
  outline-offset: -3px;
}
.main-footer__wrapper {
  outline: 3px solid #120eeecc;
  outline-offset: -3px;
  padding: 39px 20px 22px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-footer {
  background-color: #F2F2F2;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    height: 147px;
  }
}
.main-header {
  outline: 3px solid #f01d1d;
  outline-offset: -3px;
  display: flex;
  flex-direction: column;
}
.main-header__logo-text {
  margin-right: 20px;
}
.main-header__logo-wrapper {
  height: 66px;
}
@media (min-width: 768px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-header__logo-wrapper {
    height: 78px;
  }
}
@media (min-width: 1200px) {
}
.main-nav {
  outline: 3px solid #1dcccccc;
  outline-offset: -3px;
}
.main-nav__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.main-nav__item {
  padding: 22px 70px 24px 70px;
}
.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-nav__list {
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    background: url("../img/tablet_green_cat.png") no-repeat top;
    background-size: 720 694;
  }
  .main-nav__link {
    color: #ffffff;
  }
}
.name__label {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
}
.name__value {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
}
.other__wrapper {
  outline: 3px solid #1784f0cc;
  outline-offset: -3px;
  padding: 20px;
}
.other__title {
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
}
.sugar__title,
.water__title,
.milk__title,
.vitamins__title {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-family: inherit;
  text-transform: uppercase;
}
.products-list__wrapper {
  padding: 27px 20px 20px 20px;
  outline: 3px solid #05f08aa6;
  outline-offset: -3px;
}
.products-list__title {
  font-weight: 400;
  text-transform: none;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 22px 41px 0;
}
.program {
  padding: 27px 20px 20px 20px;
  outline: 3px solid #ee083acc;
  outline-offset: -3px;
  color: #ffffff;
  background: url("../img/cat_green_mobile_main.png") no-repeat;
}
.program__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  font-weight: 400;
  text-transform: none;
}
.program__slogan {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.program__image {
  margin: 0 auto;
  display: block;
}
.program__button {
  font-size: 14px;
  line-height: 18px;
  display: block;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 280px;
  min-height: 40px;
  padding: 7px 44px 7px 44px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .program {
    color: #000000;
    background: url("../img/cat_green_mobile_main.png") no-repeat;
    background-position: 2000px;
    overflow: hidden;
  }
  .program__wrapper {
    position: relative;
    min-height: 810px;
  }
  .program__wrapper::before {
    position: absolute;
    background-image: url("../img/index-can-tablet.png");
    background-repeat: no-repeat;
    content: "";
    height: 609px;
    width: 709px;
    top: 263px;
  }
  .program__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  .program__image {
    display: none;
  }
  .program__button {
    font-size: 20px;
    line-height: 20px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 244px;
    height: 54px;
    padding: 14px 26px;
  }
  .program__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .program__wrapper {
    position: relative;
  }
  .program__wrapper::before {
    position: absolute;
    background-image: url("../img/index-can-desctop.png");
    background-repeat: no-repeat;
    content: "";
    height: 499px;
    width: 552px;
    top: 263px;
    left: 350px;
  }
  .program {
    background: url("../img/tablet_green_cat.png") no-repeat right top;
  }
}
.social__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  width: 132px;
}
.submit__wrapper {
  outline: 3px solid #ee0f0fcc;
  outline-offset: -3px;
  padding: 20px;
}
.submit__nessesary-info-line {
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  color: #000000;
  font-size: 14px;
  line-height: 16px;
}
.weight__label {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
}
.weight__value {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */
