@background-color-light-grey: #f2f2f2;
@background-color-dark-grey: #eaeaea;
@background-color-main-white: #ffffff;
@border-special-grey: #cdcdcd;
@border-color-first: #e7e7e7;
@border-color-second: #e6e6e6;
@border-color-third: #D9D9D9;
@border-color-fird: #DCDCDC;
@text-color-special: #444444;
@text-color-main-black: #000000;
@text-color-another-black: #111111;
@button-bg-color: #68b738;
@button-bg-color-dark: #5EAA2F;

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

.font-style {
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: @text-color-special;
}

.font-style-title {
  font-weight: 400;
  text-transform: none;
}

.form-field-size {
  font-size: 16px;
  line-height: 18px;
}
